<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product redactor</title>
    </head>

    <body>
        <h3 th:text="${product.id == null ? 'Add product' : 'Update product'}"></h3>
        <form th:action="@{/product/update}" th:object="${product}" method="post" class="form-horizontal">

            <span th:text="${product.id}"></span>

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"></span>
                <label>
                    <input th:field="${product.title}" placeholder="Meat" class="form-control">
                </label>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"></span>
                <label>
                    <input th:field="${product.price}" placeholder="100" class="form-control">
                </label>
            </div>
            <div style="..." class="form-group">
                <button type="submit" class="btn btn-primary">Done</button>
            </div>
        </form>
    </body>
</html>

