<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h3>Filter</h3>
        <form th:action="@{/product}" method="get" class="form-horizontal">
            <div style="margin-bottom: 10px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <label>
                    <input th:value="${word != null} ? ${word}" name="word" class="form-control" placeholder="Key word">
                </label>
            </div>
            <div style="margin-bottom: 10px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <label>
                    <input th:value="${min != null} ? ${min}" name="min" class="form-control" placeholder="Minimum price">
                </label>
            </div>
            <div style="margin-bottom: 10px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <label>
                    <input th:value="${max != null} ? ${max}" name="max" class="form-control" placeholder="Maximum price">
                </label>
            </div>

            <div style="..." class="form-group">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
        <h3>Products</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                    <th>action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <div sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{'/product/updateProduct/' + ${product.id}}" th:text="Update"></a>
                            <a th:href="@{'/product/delete/' + ${product.id}}" th:text="Delete"></a>
                            <a th:href="@{'/product/singleProduct/' + ${product.id}}" th:text="Info"></a>
                        </div>
                        <div sec:authorize="hasRole('USER') and !hasRole('ADMIN')">
                            <a th:href="@{'/product/singleProduct/' + ${product.id}}" th:text="Info"></a>
                            Add to cart
                        </div>
                    </td>
                </tr>
                <tr sec:authorize="hasRole('ADMIN')">
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>
                        <a th:href="@{'/product/addProduct'}" th:text="Add"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Top 3 Products</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>name</th>
                <th>price</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="p : ${top3List}">
                    <td th:text="${p.title}"></td>
                    <td th:text="${p.price}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>