<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                    <th>action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <a th:href="@{'/product/show/' + ${product.id}}" th:text="Details"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <form th:action="@{/product/add}"
              th:object="${product}" method="post" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"></span>
                <label>
                    <input th:field="${product.id}" placeholder="4" class="form-control">
                </label>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"></span>
                <label>
                    <input th:field="${product.title}" placeholder="Meat" class="form-control">
                </label>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"></span>
                <label>
                    <input th:field="${product.price}" placeholder="100" class="form-control">
                </label>
            </div>
            <div style="..." class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </body>
</html>