<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <form th:action="@{/main/form}" method="post">
            <span>Name</span>
                <label>
                    <input name="name"/>
                </label>

            <p></p>

            <span>Email</span>
                <label>
                    <input name="email">
                </label>

            <button type="submit">Save</button>
        </form>
    </body>
</html>